<div class="chat-box">
  <div>
    <div
      #content
      class="chat-box__message-wrapper"
      *ngFor="let message of messages"
    >
      <div
        class="chat-box__from-me"
        *ngIf="message.fromMe; else incomingMessage"
      >
        <img
          class="chat-box__chat-img"
          *ngIf="!!message.mediaUrl"
          src="{{ message.mediaUrl }}"
        />
        <p>{{ message.body }}</p>
        <p class="chat-box__time">{{ getMessageTime(message) }}</p>
      </div>

      <ng-template #incomingMessage>
        <div class="chat-box__incoming">
          <img
            class="chat-box__chat-img"
            *ngIf="!!message.mediaUrl"
            src="{{ message.mediaUrl }}"
          />
          <p>{{ message.body }}</p>
          <p class="chat-box__time">{{ getMessageTime(message) }}</p>
        </div>
      </ng-template>
    </div>
    <div class="chat-box__uploading-image" *ngIf="!!image">
      <button (click)="onRemoveImage()" class="chat-box__remove-img">x</button>
      <img class="chat-box__uploading-image-img" src="{{ image }}" />
    </div>
  </div>
  <div class="chat-box__message-send">
    <input
      (keydown.enter)="onEnterKey()"
      type="text"
      [(ngModel)]="inputValue"
      placeholder="Input message"
      class="chat-box__message-input"
    />
    <div class="chat-box__send-upload">
      <input
        #fileInput
        class="chat-box__choose-img"
        type="file"
        accept="image/*"
        (change)="onImageUpload($event)"
      />
      <button (click)="onUploadFileClick()">
        <img src="../../../../assets/attach.png" />
      </button>
      <button (click)="onButtonClickKey()">
        <img src="../../../../assets/send.png" />
      </button>
    </div>
  </div>
</div>
