@import 'apps/pgp-whatsapp/src/_variable.scss';

.chat-box {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__message-input {
    width: 100%;
    height: 4em;
    padding: 0.5em;
    border: none;
    border-top: 1px solid $border-color;
    position: sticky;
    bottom: 0;
    background-color: white;
  }

  &__time {
    text-align: end;
    width: 100%;
    font-size: 0.7em;
    margin: 0;
    opacity: 0.6;
  }

  &__message-wrapper {
    width: 100%;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  &__send-upload {
    display: flex;
    gap: 1em;
    position: absolute;
    left: 85%;
    top: 25%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.15em;
    height: 2em;
    button {
      cursor: pointer;
      background: transparent;
      border: none;
      img {
        width: 2em;
        height: 2em;
      }
    }
  }

  &__chat-img {
    width: 15em;
    height: 15em;
    border-radius: 8px;
  }

  &__from-me {
    max-width: 15em;
    float: right;
    background-color: $wa-green;
    border-radius: 20px;
    padding: 1em 0.5em;
    margin-left: 55%;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  &__incoming {
    max-width: 15em;
    background-color: $incoming;
    border-radius: 20px;
    padding: 1em 0.5em;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
  }

  &__choose-img {
    display: none;
  }
  &__uploading-image {
    position: relative;
    margin-left: 15px;
    z-index: 10;
  }
  &__remove-img {
    position: absolute;
    left: 10%;
    top: 0%;
    background: transparent;
    width: 1.25em;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    background-color: rgb(172, 172, 172);
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  &__uploading-image-img {
    width: 4em;
    height: 4em;
    border-radius: 10px;
  }
  &__message-send {
    position: relative;
  }
}
